@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
/* ------------ Начало Header ------------ */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/header/__square-pic/_rotate/header__square-pic_rotate.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/logo/logo.css);
@import url(../blocks/header/logo/_place_header/logo_place_header.css);
/* ------------ Начало Content ---------- */
@import url(../blocks/content/content.css);
@import url(../blocks/content/description/description.css);
@import url(../blocks/content/description/two-columns/two-columns.css);
@import url(../blocks/content/description/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/content/description/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/content/description/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/content/description/two-columns/__span-accent/two-columns__span-accent.css);
/* ------------ Начало Techniques ---------- */
@import url(../blocks/content/techniques/techniques.css);
@import url(../blocks/content/techniques/cards/cards.css);
@import url(../blocks/content/techniques/cards/__item/cards__item.css);
@import url(../blocks/content/techniques/cards/__item/_margin-zero/cards__item_margin-zero.css);
@import url(../blocks/content/techniques/cards/__image/cards__image.css);
@import url(../blocks/content/techniques/cards/__title/cards__title.css);
@import url(../blocks/content/techniques/cards/__description/cards__description.css);
/* ------------ Начало Video ---------- */
@import url(../blocks/content/video/video.css);
@import url(../blocks/content/video/__iframes/video__iframes.css);
@import url(../blocks/content/video/__iframe/video__iframe.css);
@import url(../blocks/content/video/__iframe/_margin-zero/video__iframe_margin-zero.css);
/* ------------ Начало Oacley ---------- */
@import url(../blocks/content/oacley/oacley.css);
@import url(../blocks/content/oacley/_width/oacley_columns_width.css);
/* ------------ Начало Khan ---------- */
@import url(../blocks/content/khan/khan.css);
@import url(../blocks/content/khan/__conteiner/khan__conteiner.css);
@import url(../blocks/content/khan/__author/khan__author.css);
@import url(../blocks/content/khan/__title/khan__title.css);
@import url(../blocks/content/khan/__quote/khan__quote.css);
@import url(../blocks/content/khan/__quote-author/khan__quote-author.css);
@import url(../blocks/content/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/content/khan/__book-container/khan__book-container.css);
@import url(../blocks/content/khan/__book-pic/khan__book-pic.css);
@import url(../blocks/content/khan/__buy-link/khan__buy-link.css);
/* ------------ Начало Digits ---------- */
@import url(../blocks/content/digits/digits.css);
@import url(../blocks/content/digits/section-title/section-title.css);
@import url(../blocks/content/digits/section-subtitle/section-subtitle.css);
@import url(../blocks/content/digits/table/table.css);
@import url(../blocks/content/digits/table/__cell/table__cell.css);
@import url(../blocks/content/digits/table/__heading/table__heading.css);
@import url(../blocks/content/digits/table/__text/table__text.css);
/* ------------ Начало Feynman ---------- */
@import url(../blocks/content/feynman/feynman.css);
@import url(../blocks/content/feynman/__link/feynman__link.css);
@import url(../blocks/content/feynman/__title/faynman__title.css);
@import url(../blocks/content/feynman/__subtitle/feynman__subtitle.css);
/* ------------ Начало Kaufman ---------- */
@import url(../blocks/content/kaufman/kaufman.css);
@import url(../blocks/content/kaufman/__triangle/kaufman__triangle.css);
@import url(../blocks/content/kaufman/__triangle/_rotate/kaufman__triangle_rotate.css);
@import url(../blocks/content/kaufman/_theme/section-subtitle/section-subtitle_theme_dark.css);
@import url(../blocks/content/kaufman/_theme/section-title/section-title_theme_dark.css);
@import url(../blocks/content/kaufman/_theme/table/table_theme_dark.css);
@import url(../blocks/content/kaufman/_theme/table/__cell/table__cell_theme_dark.css);
@import url(../blocks/content/kaufman/_theme/table/__heading/table__heading_theme_dark.css);
@import url(../blocks/content/kaufman/_theme/table/__text/table__text_theme_dark.css);
/* ------------ Начало Resources ---------- */
@import url(../blocks/content/resources/resources.css);
@import url(../blocks/content/resources/__logo-zone/resources__logo-zone.css);
@import url(../blocks/content/resources/__logo/resources__logo.css);
/* ------------ Начало Footer ---------- */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/logo/logo_place_footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column/_content/footer__column_content_info.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-menu/footer__column-menu.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__column/_content/footer__column_content_social.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
