
/* ------------ Начало Header ------------ */



.logo {
  width: 183px;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */




/* ------------ Начало Content ---------- */














/* ------------ Начало Digits ---------- */

.digits {
  margin: 100px auto 0px;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto 20px;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: auto;
}

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
  list-style: none;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0;
}

/* ------------ Начало Feynman ---------- */
.feynman {
  width: 100%;
  min-height: 890px;
  display: flex;
  align-items: center;
  margin: 100px auto 0px;
  background-color: #f2f2f2;
  flex-direction: column;
  position: relative;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.feynman__title {
  max-width: 648px;
  font-size: 120px;
  line-height: 1.15;
  z-index: 1;
  width: 60%;
  font-weight: bolder;
  text-align: center;
  margin: 100px 0 70px;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
  width: 60%;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

/* ------------ Начало Kaufman ---------- */
.kaufman {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}
.section-title_theme_dark {
  color: #fff;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table__heading_theme_dark {
  color: #fff;
}

.table_theme_dark {
  color: #fff;
  margin-bottom: 90px;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
  list-style: none;
}
.table__text_theme_dark {
  color: #fff;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top: 0;
  right: -240px;
}

/* ------------ Начало Footer ---------- */
.footer {
  width: 100%;
  min-height: 350px;
  display: flex;
  margin: 0 auto;
  background-color: #1f1f1f;
  color: #fff;
  position: relative;
}
.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 60px auto 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  order: 1;
}
.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer-author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-basis: 355px;
  align-items: flex-end;
  flex-direction: column;
  margin: 0;
  order: 2;
}

.footer__menu-section {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-basis: 355px;
  align-items: flex-end;
  flex-direction: column;
  margin: 0;
  order: 2;
}

.footer__column-heading {
  min-width: 150px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  font-weight: bolder;
  margin: 0;
}

.footer__column-menu {
  min-width: 150px;
  text-align: left;
}

.footer__column-links {
  display: list-item;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
}

.footer__column-link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__social-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
